/* 
#f0f2eb  light greyish
#b5592a clay
#f09027 bright clay
#8cbeaa  grey blue
*/


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    height: 800px;
    margin-bottom: 100px;
}

.messageBackground {
    background-color: #8cbeaaab;
}

#sectionContent {
    color: #f0f2eb;

}

.messageBoxBackground {
    background-color: #00000000;
    margin: auto;
    flex-wrap: wrap;
    width: 20%;
}


#portContainer {
    /* height: 300px; */
    background-color: #b5582a71;
    width: 100%;
}

#portHead {
    color: #f0f2eb;
}

#navLinks {
    background-color: #8cbeaa00;
    float: right;
}

.navbar {
    width:100%;
    background-color: #8cbeaaab;
    position: relative;
}

.pColor {
    color: #f0f2eb;
}
#sectionSub {
    color: #f0f2eb;
}

#portfolioContainer {
    color: #f0f2eb;
}

#backgroundIMG {
    margin: 0 10px 0 10px;
    background-image:     linear-gradient(
        #8cbeaab0, 
        #b5592ab0)
        , url('./bgbg.jpg');
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;
        flex: 1
}

#headerBtns {
    background-color: #f0f2eb;
}

#headerH1 {
    color: #f0f2eb;
    text-decoration: underline;

}

#profileIMG {
    margin: auto;
    height: 300px;
    width: 300px;
}

footer{
    margin: 0 10px 0 10px;
    background-color: #b5592a;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 200px) and (max-width: 767px) {
  
    /* CSS */
    #portContainer {
        margin-top: 50px;
    }

    .messageBoxBackground {
        margin: auto;
        margin-top: 50px;
        flex-wrap: wrap;
        width: 70%;
    }
  }