/* 
#f0f2eb  light greyish
#b5592a clay
#f09027 bright clay
#8cbeaa  grey blue
*/


body {
    margin: 0 10px 0 10px;
    padding: 0;
}

section {
    height: 800px;
}

#sectionContent {
    color: #f0f2eb;

}

#navLinks {
    background-color: #8cbeaa00;
    float: right;
}

.navbar {
    width:100%;
    background-color: #8cbeaa;
    position: relative;
}

#sectionSub {
    color: #f0f2eb;
}

#portfolioContainer {
    height: 40px;
    background-color: #b5592a;
}
#backgroundIMG {
    background-image:     linear-gradient(
        #8cbeaab0, 
        #b5592ab0)
        , url('./bgbg.jpg');
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;
}

#headerBtns {
    background-color: #f0f2eb;
}

#headerH1 {
    color: #f0f2eb;
    text-decoration: underline;

}

.leftDiv {
    width: 100%;
}

.rightDiv {
 width: 100%;
}

#profileIMG {
    height: 300px;
}